h1{
    color: gold;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: grey;
}

h2{  
    color: salmon;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: gainsboro;
}

h3{  
    color: firebrick;
    font-weight: bold;
}



body{
    background-image: url(https://d1f5hsy4d47upe.cloudfront.net/2c/2cdebf849c0168078ba57c1c07213a3f_t.jpeg)
}