h1#top{
    color: lawngreen;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: darkcyan;
}

h1#link{  
    color: khaki;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: slategrey;
}

h2#ball{
    color: brown;
    font-weight: bold;
    text-align: center;
    background-color: lawngreen;
}

h2#shadow{  
    color: aqua;
    font-weight: bold;
    text-align: center;
    background-color: black;
}


body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2-L8gx1OKsx_KB_2ldrPhRrfqOSOK9a3M2jZ7fI70S7-sDJ3a)
}